@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --yellow: #f9ca24;
}

* 
{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

ul {
    list-style: none;
}

::selection {
    background-color: var(--yellow);
    color: #333;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1.4rem;
    
}

html::-webkit-scrollbar-track {
    background-color: #333;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--yellow);
}

html::-webkit-scrollbar-thumb:hover {
    background-color: #a98400;
}

body {
    background-color: #111;
    overflow-x: hidden;
    padding-left: 35rem;
}

section {
    min-height: 100vh;
    padding: 1rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

header .user img {
    width: 25rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    border: 2px solid var(--yellow);
}

header .user .name {
    font-size: 3.5rem;
    color: #fff;
    margin: 10px 0;
}

header .user .post {
    font-size: 2rem;
    color: #eee;
}

header .navbar {
    width: 100%;
}

header .navbar ul{
    padding: 1rem 3rem;
}

header .navbar ul li a {
    color: #fff;
    font-size: 2rem;
    background-color: #333;
    display: block;
    margin: 10px 0;
    padding: 7px 10px;
    border-radius: 5rem;
    cursor: pointer;
}

header .navbar ul li a:hover {
    background-color: var(--yellow);
    color: #000
}

main {
    color: #fff;
}

main #menu {
    position: fixed;
    top: 2rem; right: 2rem; 
    background-color: #333;
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
}

.home h3 {
    font-size: 2.5rem;
    color: #fff;
}

.home h1 {
    font-size: 5rem;
    color: #fff;
    padding: 1rem 0;
}

.home h1 span {
    color: var(--yellow);
}
.home p {
    font-size: 2rem;
    color: #eee;
    padding: 2.5rem 0;
}

.btn {
    padding: 1rem 2em;
    font-size: 2.3rem;
    border-radius: 5rem;
    cursor: pointer;
    background-color: #444;
    color: #fff;
}

.btn:hover {
    background-color: var(--yellow);
    color: #000;
}

.btn i {
    padding-left: 2rem;
}

/* ------------ about me section */

#about {
    margin-top: 5rem;
}

#about .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 1rem;
}

#about .row .info {
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 6rem;
}

.heading {
    font-size: 5rem;
    margin: 0 6rem;
    text-align: center;
    border-bottom: 1px solid #333;
}

.heading span {
    color: var(--yellow);
}

/* start media queries */
@media (max-width: 1200px){
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px){
    header {
        left: -100%;  
    }
    
    main #menu {
        display: block;
    }

    header.display-menu {
        left: 0;
    }

    body {
        padding: 0;
    }

    .home {
        padding: 0 5rem;
    }

}

@media (max-width: 766px){
    html {
       font-size: 45%;
    }
}
    
@media (max-width: 500px){
    header {
       width: 100vw;
    }
    .home {
        text-align: center;
    }
}

/* end media queries */